* {
    margin: 0;
    padding: 0;
    --main-color: lightslategray;
    --sub-color: lightcyan;
    --hover-color: #ebf2f1;
    --low: #a6ff66;
    --medium: #fad046;
    --high: #ff5729;
}

body {
    
}

header {
    height: 8vh;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
}

header h1 {
    padding-left: 1%;
}

#logo {
    width: 40px;
    height: 40px;
}

.filter-white {
    filter: invert(100%) sepia(25%) saturate(46%) hue-rotate(259deg) brightness(102%) contrast(102%);
}

header h1 {
    color: white;
    font-size: 3rem;
}

#main {
    display: flex;
    height: 92vh;
}

nav {
    width: 12vw;
    background-color: var(--sub-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

#todo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

#todo button {
    display: flex;
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    gap: 8px;
}

#todo button:hover {
    background: var(--hover-color);
}

#todo button:active {
    background: var(--hover-color);
}

#todo button:focus {
    background: var(--hover-color);
}

nav img {
    width: 25px;
    height: 25px;
}

#projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-heading {
    font-size: 1.8rem;
    font-weight: bold;
}


#projects input {
    height: 30px;
    border-radius: 8px;
}

#new-project {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-items: center;
}

#add-new-project, #cancel-new-project {
    border: .5px solid black;
    border-radius: 8px;
    height: 30px;
    width: 30px;
    font-weight: bold;
    cursor: pointer;
}

#add-new-project {
    background: var(--low);
}

#cancel-new-project {
    background: var(--high);
}   

#main-content {
    flex: 1;
    padding-top: 40px;
    padding-left: 8%;
}

h2 {
    font-size: 2rem;
}

#add-task-button {
    margin-top: 20px;
    display: flex;
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    gap: 10px;
    align-items: center;
    background: none;
}

#add-task-button:hover {
    background: var(--hover-color);
}

#add-project {
    display: flex;
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    gap: 8px;
}

#add-project:hover {
    background: var(--hover-color);
}

.plus {
    width: 25px;
    height: 25px;
}

#new-task {
    margin-top: 20px;
    width: 80%;
    border: .5px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    position: relative;
}

.new-task-info {
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

#new-task input, #new-task select {
    border-radius: 8px;
    border: .2px solid black;
}

#new-task select {
    background: white;
}

#description {
    width: 50%;
}

#low {
    background: var(--low);
}

#medium {
    background: var(--medium);
}

#high {
    background: var(--high);
}

.add-task {
    background: var(--sub-color);
    border: 0.5px solid black;
    cursor: pointer;
    padding: 3px;
    border-radius: 8px;
}

.cancel-add-task {
    background: none;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 1rem;
}
