* {
    margin: 0;
    padding: 0;
    --main-color: lightslategray;
    --sub-color: lightcyan;
    --hover-color: #ebf2f1;
    --low: #a6ff66;
    --medium: #fad046;
    --high: #ff5729;
}

body {
    
}

/* Heading Section */

header {
    height: 8vh;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
}

header h1 {
    padding-left: 1%;
}

#logo {
    width: 40px;
    height: 40px;
}

.filter-white {
    filter: invert(100%) sepia(25%) saturate(46%) hue-rotate(259deg) brightness(102%) contrast(102%);
}

header h1 {
    color: white;
    font-size: 3rem;
}

#main {
    display: flex;
    height: 92vh;
}

/* navbar Section */

nav {
    width: 12vw;
    background-color: var(--sub-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

#todo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

#todo button {
    display: flex;
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    gap: 8px;
}

#todo button:hover, .project:hover {
    background: var(--hover-color);
}

#todo button:active {
    background: var(--hover-color);
}

#todo button:focus {
    background: var(--hover-color);
}

nav img {
    width: 25px;
    height: 25px;
}

#projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-heading {
    font-size: 1.8rem;
    font-weight: bold;
} 

.project {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-radius: 8px;
}

.project-title {
    display: flex;
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    gap: 8px;
}

.del-project-button {
    border-radius: 8px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
}

.del-project-button:hover {
    color: red;
}

#projects input {
    height: 30px;
    border-radius: 8px;
}

#new-project {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-items: center;
    margin-top: 10px;
    display: none;
}

#add-new-project, #cancel-new-project {
    border: .5px solid black;
    border-radius: 8px;
    height: 30px;
    width: 30px;
    font-weight: bold;
    cursor: pointer;
}

#add-new-project {
    background: var(--low);
}

#cancel-new-project {
    background: var(--high);
}   

/* Content Section */

#main-content {
    flex: 1;
    padding-top: 40px;
    padding-left: 8%;
}

h2 {
    font-size: 2rem;
}

#tasks {
    margin-top: 20px;
}

#add-task-button, #edit-task-button {
    margin-top: 20px;
    display: flex;
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    gap: 10px;
    align-items: center;
    background: none;
}

#add-task-button:hover #edit-task-button:hover {
    background: var(--hover-color);
}

#add-project {
    display: flex;
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    gap: 8px;
}

#add-project:hover {
    background: var(--hover-color);
}

.plus {
    width: 25px;
    height: 25px;
}

#new-task, #edit-task {
    margin-top: 20px;
    width: 80%;
    border: .5px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    position: relative;
    display: none;
}

.new-task-info, .edit-task-info {
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

#new-task input, #new-task select, #edit-task input, #edit-task select {
    border-radius: 8px;
    border: .2px solid black;
}

#new-task select, #edit-task select {
    background: white;
}

#description, #edit-description {
    width: 50%;
}

#low {
    background: var(--low);
}

#medium {
    background: var(--medium);
}

#high {
    background: var(--high);
}

.add-task, .edit-task {
    background: var(--sub-color);
    border: 0.5px solid black;
    cursor: pointer;
    padding: 3px;
    border-radius: 8px;
}

.cancel-add-task, .cancel-edit-task {
    background: none;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 1rem;
}

.task {
    display: flex;
    gap: 10px;
    width: 80%;
    padding: 10px;
    border-radius: 8px;
}

.task:hover {
    background-color: var(--hover-color);
}

.task-edit:hover:enabled {
    filter: invert(8%) sepia(100%) saturate(6844%) hue-rotate(247deg) brightness(102%) contrast(143%);
}

.task-delete:hover:enabled {
    filter: invert(10%) sepia(94%) saturate(7500%) hue-rotate(6deg) brightness(102%) contrast(112%);
}

.task-edit:disabled, .task-delete:disabled {
    cursor: not-allowed;
    filter: invert(96%) sepia(5%) saturate(464%) hue-rotate(215deg) brightness(89%) contrast(90%);
    
}

.task button {
    background: none;
    cursor: pointer;
    border: none;
}

.task img {
    width: 20px;
    height: 20px;
}

.status {
    margin-left: 5px;
}

.task-title {
    margin-left: 15px;
    width: 10%;
}

.task-description {
    flex: 1;
}

.unchecked {
    border-radius: 50%;
    border: 2px solid;
    width: 10px;
    height: 10px;
}

.checked {
    background-image: url(./css/check-bold.svg);
    border-radius: 50%;
    border: 2px solid black;
    width: 10px;
    height: 10px;
}

.low {
    border-color: var(--low);
}

.medium {
    border-color: var(--medium);
}

.high {
    border-color: var(--high);
}

.done {
    text-decoration: line-through;
}

/* footer section */

footer {
    background-color: var(--main-color);
    height: 3vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
}

footer img {
    width: 20px;
    height: 20px;
}